<mat-toolbar class="header">
    <span>La Liga</span>

    <div class="spacer"></div>
    <a routerLink="teams" mat-raised-button color="primary">Home</a>
    <a mat-raised-button color="warn">Sign Up</a>

</mat-toolbar>