<mat-toolbar class="footer">
    <div>
        <a href="https://www.facebook.com/"><img src="../../../../assets/img/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/"><img src="../../../../assets/img/instagram.png" alt="Instagram"></a>
        <a href="https://twitter.com/?lang=es"><img src="../../../../assets/img/twitter.png" alt="Twitter"></a>
    </div>
    <p>&copy; Todos los derechos reservados</p>
</mat-toolbar>
