.footer{
    background-color: #001E28;
    display: block;
    width: 100%;
    height: auto;
    position: relative !important;
    bottom:0 !important;
    left: 0;
    margin-top: 100px;
    

    div{
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 30px 10px 10px 10px;
    }

    a{
        padding:10px;
    }

    p{
        text-align: center;
        font-weight: lighter;
        padding-bottom: 20px;
        font-size: small;
    }
}
