table{
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    background-color: #00141E;
    

    th{
        padding: 25px;
        font-size: 30px;
        color: #FFC810;
        background-color: #001E28;
    }

    tr{
        border: 3px solid #001E28;
    }
 
    td{
        padding:20px 0px;
    }   

    a:hover{
        cursor: pointer;
    }
    
}