<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Team</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <a (click)="idPlayer(team.id)" style="color: aliceblue;"><td>{{ team.name }}</td></a>
      </tr>

    </tbody>
  </table>