/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-color: #010A0F;
}
body {
    margin: 0; 
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
