<table class="table">
  <thead class="table-dark">
    <tr>
      <th colspan="2">Players</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players" style="color: aliceblue;">
      <a *ngIf="idTeam == player.id_team" style="color: aliceblue;"><td>{{ player.name }}&nbsp;&nbsp;&nbsp;<div class="view">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          View
        </button>
      </div></td></a>
    </tr>
  </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Description</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngFor="let player of players"  class="modal-body">
          <div class="card" style="width: 18rem;">
            <img src="{{ player.picture }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Name: {{ player.name }}</h5>
              <p class="card-text">Value: {{ player.value }}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  
